// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

:root {
    --text-color        : #464545;
    --theme-color       : #00C9DB;
    --theme-color-active: #18a8b5;
    --header-gradient   : linear-gradient(to right top, #00c9db, #09c1d1, #10b8c8, #15b0be, #18a8b5);
    --ion-font-family   : 'ProximaNova';
    --theme-yellow-color: #eebe4f;
}

@font-face {
    font-family: 'ProximaNova';
    font-weight: 100;
    src        : url("../src/assets/font-family/ProximaNovaT-Thin.ttf") format("truetype");
}

@font-face {
    font-family: 'ProximaNova';
    font-weight: 200;
    src        : url("../src/assets/font-family/ProximaNova-Light.ttf") format("truetype");
}

@font-face {
    font-family: 'ProximaNova';
    font-weight: 700;
    src        : url("../src/assets/font-family/ProximaNova-Bold.ttf") format("truetype");
}

@font-face {
    font-family: 'ProximaNova';
    font-weight: 600;
    src        : url("../src/assets/font-family/ProximaNova-Semibold.ttf") format("truetype");
}

@font-face {
    font-family: 'ProximaNova';
    font-weight: 400;
    src        : url("../src/assets/font-family/ProximaNova-Regular.ttf") format("truetype");
}

.font25 {
    font-size     : 2.2rem;
    line-height   : 2.2rem;
    letter-spacing: -0.2px;
}

h1 {
    font-size  : 20px !important;
    font-weight: bold;
}

span,
p,
div {
    font-size  : 15px;
    line-height: 16px;
    font-weight: 400;
}

ion-icon {
    font-size: 27px;
}

.d-none {
    display: none !important;
}

.anim {
    transition: all 0.5s ease;
}

// Header
ion-header {
    width     : 101%;
    min-height: 65px !important;

    .title-ios,
    .title-md {
        font-size     : 20px;
        // line-height: 25px;
    }

    .title-md {
        text-align  : center;
        padding-left: 0;
    }

    ion-toolbar {
        min-height   : 65px !important;
        height       : 100%;
        display      : flex;
        align-items  : center;
        --background : var(--header-gradient);
        --color      : #fff;
        color        : #fff !important;
        padding-left : 4px !important;
        padding-right: 4px !important;

        ion-buttons {
            ion-button {
                color          : #fff;
                --padding-start: 0;

                ion-icon {
                    font-size: 23px !important;
                    color    : #fff;
                }
            }
        }

        .header-save-action {
            font-size  : 18px;
            font-weight: 900;
            color: #fff;
        }
    }
}

.web-toolbar {
    padding-top: 14px !important;
}

.header-ios ion-toolbar:last-child {
    --border-width: 0;
}

.header-browser {
    min-height: 71px !important;
}

ion-button {
    --color: black;
}

.position-relative {
    position: relative !important;
}

.divider {
    background   : #e8e8e9;
    height       : 1px;
    display      : block;
    margin-top   : 20px;
    margin-bottom: 20px;
    width        : 100%;
}

.round {
    --background   : var(--header-gradient);
    --border-radius: 3px;
    height         : 50px;
    width          : 100%;

    button {
        --border-radius: 3px;
    }

    span {
        color      : #fff;
        font-size  : 16px;
        font-weight: 600;
    }
}

.alert-button-inner {
    color: black;
}

// Toast
.my-toast-wrapper {
    --background : black;
    color        : #ffff;
    border-radius: 6px;
}

// Side Menu
.menu-outer {
    ion-toolbar {
        margin    : 15px 0;
        text-align: -webkit-center;

        .logo {
            width: 65%;
        }
    }

    .menu-content {
        .folder-list {
            margin-bottom: 0;

            .list-items {
                margin-bottom: 10px;
                padding-left : 16px;
                margin-right : 6px;

                .folder-count {
                    position     : absolute;
                    right        : 16px;
                    margin-top   : -4px;
                    background   : #ededee;
                    border       : 1px solid #ededee;
                    border-radius: 50%;
                    padding      : 5px;
                    height       : 30px;
                    width        : 30px;
                    text-align   : center;

                    &.selected-foler-count {
                        color     : #fff;
                        background: var(--theme-color);
                    }
                }

                &.selected-foler {
                    color: var(--theme-color);
                }
            }

            .divider {
                margin-top   : 15px;
                margin-bottom: 13px;
                width        : 84%;
                margin-left  : 7%;
            }

            .list-heading {
                padding-left : 16px;
                margin-top   : 5px;
                margin-bottom: 30px;
                position     : relative;
            }

            .add-folder-btn {
                position: absolute;
                right   : 16px;
                top     : -5px;

                ion-icon {
                    font-size: 40px;
                }

                svg {
                    path {
                        fill: #ededee;
                    }
                }
            }
        }

        .other-pages-list {
            margin-bottom: 10px;
            padding-left : 16px;
            margin-right : 6px;

            .title {
                font-size: 20px;
            }

            .divider {
                margin-top   : 15px;
                margin-bottom: 13px;
                width        : 84%;
                margin-left  : 7%;
            }
        }

        .width-90 {
            width: 90%;
        }
    }

    .divider {
        margin-top   : 20px;
        margin-bottom: 20px;
    }

    .go-beyond {
        color         : #4ab86e;
        text-transform: uppercase;
        font-size     : 20px !important;
        padding-left  : 16px;
        margin-top    : 0px;
        margin-bottom : 0px;
    }

    .sign-out {
        color       : #eb4559;
        padding-left: 16px;
        font-size   : 18px;
    }
}

.blur-content {
    filter        : blur(3px);
    -webkit-filter: blur(3px);
    pointer-events: none;
}

.hide {
    display: none;
}

.remove-BG {
    --ion-background-color: transparent;
}

.font-35 {
    font-size: 35px !important;
}

.red-color {
    color: #ed576a !important;
}

.sign-out-window {
    position  : absolute;
    bottom    : -300px;
    background: #fff;
    color     : #000000;
    width     : 100%;
    text-align: center;
    height    : 250px;
    z-index   : 999;
}

.sign-out-sect {
    h3 {
        font-size      : 20px;
        padding        : 10px;
        padding-top    : 0;
        margin-bottom  : 25px;
        color          : #eb4559;
        font-weight    : bold;
        text-align     : right;
        display        : flex;
        align-items    : end;
        justify-content: flex-end;

        ion-icon {
            font-size: 20px;
            color    : #eb4559;
        }

        span {
            padding: 2px 5px;
        }
    }
}

.scroll-disable {
    --overflow: hidden;
}

// ion inputs
ion-input {
    font-size: 16px !important;
}

.move-to-top {
    animation          : move-to-top 0.5s;
    animation-fill-mode: forwards;
}

@keyframes move-to-top {
    0% {
        bottom: -300px;
    }

    100% {
        bottom: -10px;
    }
}

.vertical-centered {
    display        : flex;
    flex-flow      : column !important;
    justify-content: center;
    align-items    : center;
    height         : calc(100vh - (32px + 60px + 98px));
}

.display-flex {
    display    : flex;
    align-items: center;
}

.substringText {
    display           : -webkit-box;
    -webkit-line-clamp: 1;
    overflow          : hidden;
    text-overflow     : ellipsis;
}

// Slider CSS
.swiper-pagination {
    // background: #fff;
    height         : 30px;
    display        : flex;
    align-content  : center;
    align-items    : center;
    text-align     : center;
    justify-content: center;

    // bottom: 0 !important;
    .swiper-pagination-bullet {
        --bullet-background: #fff;
        box-shadow         : 0px 0px 2px #000 !important;
        opacity            : 1;
        width              : 12px !important;
        height             : 12px !important;
    }

    .swiper-pagination-bullet-active {
        background: var(--theme-color) !important;
    }
}

.not-active-bullet {
    --bullet-background: #fff;
}

.footer-option {
    height: 53px !important;

    .footer {
        padding: 0px 0 !important;

        ion-icon {
            font-size: 33px !important;
        }

        ion-row {
            padding: 3px 0 !important;
        }
    }
}

.animate-adding-notes {
    position           : relative;
    animation-name     : animate-adding-note;
    animation-duration : 1s;
    animation-fill-mode: forwards;
}

.filled-input-pin {
    background: black;
    border    : 1px solid black !important;
}

.login-top {
    top: -145px;
}

.subscription-packages {
    .swiper-pagination {
        background         : transparent;
        border-bottom-width: 0;
    }

    &.not-active-bullet {
        .swiper-pagination-bullet-active {
            background: var(--theme-yellow-color) !important;
        }
    }
}

// placeholder
::-webkit-input-placeholder {
    /* WebKit browsers */
    text-transform: none;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    text-transform: none;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    text-transform: none;
}

:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    text-transform: none;
}

::placeholder {
    /* Recent browsers */
    text-transform: none;
}

@keyframes animate-adding-note {
    0% {
        left     : 0;
        // height: 70px;
    }

    100% {
        // height: 0;
        left: -500px;
    }
}

.pac-container {
    z-index: 90002 !important;
}

.display-flex-setting {
    p {
        flex-grow: 1;
    }

    .margin-r-10 {
        margin-right: 10px;
    }

    .next-icon {
        font-size: 18px;
        color    : #848484;
    }

    .help-icon {
        margin-left: 5px;
        font-weight: bold;
    }
}

// Animations
.ss-anm {
    transition: all 300ms ease-in;
}

.fade-out {
    opacity: 0 !important;
}

.fade-in {
    opacity: 1 !important;
}

.width-0 {
    width  : 0 !important;
    padding: 0 !important;
}

.ellipsis {
    overflow     : hidden;
    text-overflow: ellipsis;
    white-space  : nowrap;
}

.no-border {
    border: none !important;
}

.allow-vCentering {
    font-size: 0;
}

.allow-vCentering::before {
    content       : " ";
    height        : 100%;
    width         : 0;
    display       : inline-block;
    vertical-align: middle;
}

.d-none {
    display: none !important;
}

.d-iBlock {
    display: inline-block;
}

.d-flex {
    display: flex;
}

.d-block {
    display: block;
}

.margin-auto {
    margin: 0 auto;
}

.eq-hw {
    flex: 1;
}

.align-self-center {
    align-self: center;
}

.align-self-end {
    align-self: flex-end;
}

.align-self-start {
    align-self: flex-start;
}

.align-items-flex-start {
    align-items: flex-start;
}

.align-items-baseline {
    align-items: baseline;
}

.align-items-center {
    align-items: center;
}

.align-items-flex-end {
    align-items: flex-end;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-space-around {
    justify-content: space-around;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: flex-end;
}

.v-flex {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.v-middle {
    vertical-align: middle;
}

.v-top {
    vertical-align: top;
}

.v-bottom {
    vertical-align: bottom;
}

.disable {
    pointer-events: none;
    opacity       : 0;
}

.green-color {
    color: green;
}

//Media Queries
// // Iphone 5 , Iphone 4
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (-webkit-device-pixel-ratio: 2) {
    .welcome-back {
        .img {
            width        : 55% !important;
            margin-top   : 5px !important;
            margin-bottom: 5px !important;
        }
    }

    .pin-req-outer {
        .input-fields {
            margin-top: 20px !important;
        }

        .keyboard {
            div {
                height: 45px !important;
            }
        }
    }
}

// Iphone 7/8
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
    .pin-req-outer {
        .input-fields {
            margin-top: 20px !important;
        }

        .keyboard {
            div {
                height: 65px !important;
            }
        }
    }
}

// Iphone 6+/6s+/7+/8+
@media only screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) {}

// //Iphone x , 11, 11pro (S)
@media only screen and (device-width: 375px) and (device-height: 812px),
(device-height: 896px),
(device-height: 812px),
(device-height: 896px) and (-webkit-device-pixel-ratio: 2),
(-webkit-device-pixel-ratio: 3) {
    .cross-icon-subs {
        margin-top: 34px !important;
    }

    .custom-tab {
        bottom: calc(5px + env(safe-area-inset-bottom)) !important;
    }

    .show-options {
        margin-bottom: 15px !important;
    }

    .place-btm {
        bottom: 25px !important;
    }

    .footer-option {
        height: 42px !important;
    }

    .login-top {
        top: -105px;
    }

    .tuturial {
        .logo {
            height: 200px !important;
        }

        .swiper-pagination {
            bottom: 79px !important;
        }
    }

    .safe-area-padding {
        padding-top: env(safe-area-inset-top);
    }
}

.tuturial {
    .swiper-wrapper {
        margin-top: 20px;
    }
}

.add-note-info-sect {

    .native-textarea,
    textarea {
        padding-bottom: 0 !important;
        margin-bottom : -5px;
    }
}

.person-detail-modal {
    // ion-modal {
    padding: 25px;

    .modal-wrapper {
        height       : 400px;
        border-radius: 30px;

        ion-header {
            ion-toolbar {
                --background : #fff;
                border-bottom: 3px solid #E3E3E3;

                ion-title {
                    color: var(--theme-color);
                    width: 100%;
                }
            }
        }
    }

    // }
}