.outer {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 5px;
    .main_div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .inner-div{
            width: 85%;
            display: flex;
            align-items: center;
        }
    }

    .play-pause-btn {
        background: var(--theme-color);
        display: inline-block;
        height: 35px;
        width: 35px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        ion-icon {
            font-size: 25px;
            padding-left: 3px;
        }

        .pause-btn{
            padding-left: 0;
        }

        &:active {
            background: var(--theme-color-active);
        }
    }

    .audio-range {
        --knob-background: var(--theme-color);
        --knob-size:10px;
        margin-right: 10px;
    }

    .time{
        font-size: 13px;
        float: right;
        position: relative;
        top: -9px;
        right: 0px;
    }
}
