<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack();">
        <ion-icon slot="icon-only" name="ios-header-cross"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="scroll-disable ion-padding">
  <div>
      <p class="ion-text-justify">
        Please enter your registered email with Consnt. We will send you a reset password link.
      </p>
      <ion-input type="email" [(ngModel)]="userEmail" inputmode=“text” placeholder="Enter email here"></ion-input>
      <ion-button class="round" shape="round" expand="full" (click)="resetPassword();">
        <span *ngIf="!isSending">Reset</span>
        <ion-spinner color="light" *ngIf="isSending"></ion-spinner>
      </ion-button>
    </div>
</ion-content>