.list-outer {
    .no-record {
        margin-top     : 5vh;
        display        : flex;
        flex-direction : column;
        align-items    : center;
        justify-content: center;
        text-align     : center;

        .add-btn {
            display      : inline-flex;
            color        : var(--theme-color);
            border       : 1px solid;
            border-radius: 10em;
            padding      : 10px 30px;
            margin-top   : 20px;

            &:focus,
            &:active {
                color : #29919a;
                border: 1px solid #29919a;
            }
        }
    }

    .list {
        border-bottom : 1px solid #cacaca;
        padding-bottom: 15px;
        margin-bottom : 15px;

        .name {
            margin-top   : 0;
            margin-bottom: 0;
        }

        .date-added {
            color: gray;
        }

        .purpose {}

        .footer {
            display        : flex;
            align-content  : center;
            justify-content: space-between;

            .footer-content {
             
                .icon-div {
                    ion-icon {
                        font-size    : 16px;
                        padding-left : 5px;
                        padding-right: 5px;
                    }

                    span {
                        font-size   : 12px;
                        padding-left: 5px;
                        font-weight : 500;
                    }

                    .border-left {
                        padding-left: 5px;
                        border-left : 1px solid #ccc;
                    }

                    .border-right {
                        border-right: 1px solid #ccc;
                    }
                }
            }
        }
    }
}


ion-fab {
    right        : 20px;
    margin-bottom: 20px;

    ion-fab-button {
        --background: var(--theme-color);

        &:focus,
        &:active {
            --background-activated: #29919a;
            --background-focused  : #29919a;
            --background-hover    : #29919a;
        }
    }
}