<ion-header>
  <ion-toolbar>
    <ion-title>
      <img src="../../assets/img/logo.png" width="75%" />
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="!isLoading && records?.length > 0">
    <ion-fab-button (click)="addRecord()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div class="ion-text-center" *ngIf="isLoading">
    <ion-spinner></ion-spinner>
  </div>

  <div class="list-outer" *ngIf="!isLoading">
    <div class="no-record" *ngIf="records?.length == 0">
      <p>
        You have no records. You can create new a new record below
      </p>
      <span class="add-btn" (click)="addRecord()">Add new Record</span>
    </div>

    <div class="list" *ngFor="let record of records">
      <h1 class="name substringText" style="-webkit-box-orient: vertical !important;">{{record.name}}</h1>
      <div class="date-added">{{record.dateAdded | fromNow}}</div>
      <p class="purpose substringText" style="-webkit-box-orient: vertical !important;-webkit-line-clamp:2 !important">
        {{record.purpose}}
      </p>
      <div class="footer">
        <span>Expiry: {{record.expiryDate}}</span>
        <div class="footer-content">
          <div class="dFlex icon-div">
            <ion-icon name="ios-photos" *ngIf="record.images?.length"
              [ngClass]="{'border-right' : ((record.audios?.length && !record.videos?.length))}"></ion-icon>
              <ion-icon name="ios-video" *ngIf="record.videos?.length" [ngClass]="{'border-left' : record.images?.length, 'border-right' : record.audios?.length}"></ion-icon>
            <ion-icon name="ios-recording" *ngIf="record.audios?.length"></ion-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>